* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
}


header {
    background-color: #d9eed9;
    padding: 25px 0;
}

header h1 {
    text-align: center;
    font-size: 1.5em; 
}


nav ul {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 10px; 
    margin-top: 20px;
}

nav ul li a {
    color: rgb(33, 212, 9);
    font-size: 18px; 
}


main h2 {
    margin: 20px 0;
    text-align: center;
    font-size: 1.2em; 
}

.product-list {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 100px;
    margin: 20px;
}

.product {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 100%; 
}

.product img {
    width: 100%;
    height: auto;
}

.product h2 {
    margin: 10px 0;
}

.product p {
    margin: 20px 0;
}

.product .price {
    font-size: larger;
    color: rgb(33, 212, 9);
}


footer {
    padding: 15px 0;
    background-color: rgb(7, 98, 68);
}

footer p {
    text-align: center;
    color: white;
    font-size: 14px; 
}


@media (min-width: 768px) {
    nav ul {
        flex-direction: row; 
        justify-content: space-around;
        padding: 0 10%; 
    }

    .product-list {
        grid-template-columns: repeat(2, 1fr); 
        margin: 30px 100px;
    }

    main h2 {
        font-size: 1.5em; 
        text-align: left;
    }

    footer p {
        font-size: 16px; 
    }
}


@media (min-width: 1024px) {
    nav ul {
        justify-content: space-around;
        padding: 0 35%;
    }

    .product-list {
        grid-template-columns: repeat(3, 1fr); 
        margin: 30px 200px; 
    }

    main h2 { 
        margin-left: 150px; 
    }
    .product h2 {
        text-align: center;
    }
}
